.buttons{
    border-radius: 2px;
    border: 1px solid transparent;
    margin: 8px 10px;
    outline: none;
    font-weight: 600;
    line-height: 30px;
    color: #fff;
    min-width: 206px;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 10px;
    text-transform: uppercase;
}
.buttons:hover{
    border: 1px solid #5e5e5e;
    color: #5e5e5e;
}
