footer {
    background-image: url('../../assets/image/footerImage-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-img{
    width: 100%;
}
.footer-text{
    padding: 60px 0; 
}
.footer-text h1{
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: var(--white);
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 0;
}
.submit-joke{
    color: #cfb995;
    text-transform: uppercase;
    font-weight: 600;
    padding-right: 10px;
}
